
services:
  mongodb:
    image: mongo:latest
    restart: always
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:alpine
    restart: always
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  mongo-data:
    driver: local