name: Deploy API to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup SSH Key
      run: |
        sudo mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" | tr -d '\r' > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H "${{secrets.SSH_HOST}}" >> ~/.ssh/known_hosts

    - name: Deploy API
      run: |
        ssh ubuntu@"${{secrets.SSH_HOST}}" << 'EOF'
          cd /var/www/verstack.io/verstack-api
          git pull origin master
          npm install
          npm run build
          pm2 restart verstack-api || pm2 start npm --name "verstack-api" -- run start
        EOF
